.newPost__textarea {
    width: 100%;
    height: 60px;
    font-size: 15px;
    resize: none;
    border-radius: 5px;
  }
  
  .newPost__btn {
    display: block;
    margin-left: auto;
    padding: 10px 20px;
    font-size: 14px;
    background-color: blanchedalmond;
    border: 1px dotted black;
    border-radius: 5px;
    cursor: pointer;
  }