a {
  text-decoration: none;
}
a:link,
a:visited {
  color: inherit;
}

.app-wrapper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-areas:
    "h h h h"
    "n m m m";
}

.header {
  grid-area: h;
  background-color: blanchedalmond;
  margin-bottom: 10px;
}

.header__icon {
  width: 50px;
}

.nav {
  grid-area: n;
}

.nav-list {
  list-style: none;
}

.nav-list__el {
  font-size: 20px;
  padding: 10px;
}

.nav-list__el a {
  display: block;
}
.nav-list__el:nth-child(even) {
  background-color: beige;
}

.main-content {
  grid-area: m;
  background-color: beige;
  padding: 0 10px;
}

.profile__bg-img {
  padding-bottom: 10px;
  width: 100%;
  height: 100px;
}

.profile__photo {
  padding-left: 10px;
  float: left;
  width: 120px;
  height: 120px;
}

.profile-desc {
  padding: 0 0 10px 10px;
  overflow: hidden;
}

.profile-desc__el:first-child {
  font-size: 19px;
  margin: 0;
}

.posts__my-posts {
  font-size: 20px;
  font-weight: 700;
}

.new-post__textarea {
  width: 100%;
  height: 60px;
  font-size: 15px;
  resize: none;
  border-radius: 5px;
}

.new-post__btn {
  display: block;
  margin-left: auto;
  padding: 10px 20px;
  font-size: 14px;
  background-color: blanchedalmond;
  border: 1px dotted black;
  border-radius: 5px;
  cursor: pointer;
}

.posts-list-el {
  margin: 20px 0;
  display: grid;
  grid-template-areas:
    "p n"
    "p t";
  justify-content: flex-start;
  background-color: bisque;
  border-radius: 50px;
}

.posts-list-el__photo {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  grid-area: p;
}

.posts-list-el__name {
  grid-area: n;
  margin: 0 15px;
}

.posts-list-el__text {
  grid-area: t;
  margin: 0 15px;
}
